:root {
  --primary: #f5f5f5;
  --primaryLight: #e1e9ee;
  --primaryDark: #bcc3c7;
  --accent: #0077b5;
  --accentLight: #0077b5;
}

body {
  margin: 0;
}

#page {
  background-color: var(--primary);
}

#root {
  color: white(167, 72%, 60%);
}

body::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--primaryLight); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primaryLight); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.AuthModal {
  height: 50vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #dadce0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.InnerAuthModal {
  display: flex;
  flex-direction: column;
}

.JobPage {
  display: grid;
  grid-template-rows: 7% 93%;
  grid-template-columns: 34% 66%;
  grid-template-areas: "header header" "JobFeed JobSheet";
}

.header {
  grid-row: 1;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin: 0;
  /* border-radius: 8px; */
  border: none;
  background-color: #0077b5;
  color: #f5f5f5;
}

.PageDropdown {
  margin: 2px 2px;
  border: none;
  border-radius: 8px;
  background-color: var(--primaryLight);
}

.SearchBar button:hover {
  background-color: var(--accentLight);
}

.Input {
  margin: 0 5px;
  padding: 0 5px;
  border: none;
  border-radius: 8px;
  background-color: var(--primaryLight);
}

.JobCardFeed {
  grid-row: 2;
  grid-area: JobFeed;
  height: calc(100vh - 100px); /* Subtracting 100px from viewport height to account for header and footer */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 1.0);
  border-radius: 8px;
  background-color: var(--primaryLight);
  margin: 4px 4px;
}

.JobCard {
  display: flex;
  border-radius: 8px;
  margin: 2px 2px;
  border: 1px solid #ccc;
  padding: 8px;
}

.JobCard:hover {
  background: var(--primaryDark);
  cursor: pointer;
}

.JobCardInner > a:link{
  text-decoration: none;
}

.JobCardInner > a:hover{
  text-decoration: underline;
}
